@{
    ViewBag.Title = "Index";
}
<div>
    <div style="width:25%;float:left;">
        @Html.Action("EnCokOnEtiket")
    </div>
    <!--Bu div, bizim ana içeriğimiz. Genişliğin, %75'ini almasını ve sola yaslanmasını istedik. -->
    <div style="width:50%;float:left;">
        <!--Burada Partial View yerine Html.Action metodunu çağırdık-->
        @Html.Action("SonBesMakale")
    </div>
    <!--Bu div, bizim yan kenar içeriğimiz. Genişliğin, %25'ini almasını ve sola,
        ana divin yanına, yaslanmasını istedik. -->
    <div style="width:25%;float:right;">
        @Html.Action("SonBesYorum")

    </div>
</div>