<!--Her hangi bir model kullanmadık burada doğrulamayı kendimiz elle yapacağız-->
@{
    ViewBag.Title = "Üye Girişi";
}
<!--Layout sayfamızda sayfanın en alt kısmında scripts adlı bir sectionumuz tanımlanmıştı.
    Script ve css kodlarımızı scripts sectionuna koyacağız.
    Detaylı bilgi önceki yazılarımızda vardır.-->
@section scripts{
    <html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
        <link href="~/Content/css/Style.css" rel="stylesheet" />
    </head>
    <body>
    } <div class="page-header" style="height:80px;">
        <h3>
                Üye Girişi
        </h3>
    </div>
    @using (Ajax.BeginForm("UyeGirisi", "Uyelik", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSonuc" }, new { id = "formKapsayici" }))
            {
                <div id="page-header" style="height:275px;">
                    @Html.Label("E-Posta Adresiniz")<br/><br/>
                    <div id="search-area" style="position:absolute; top:320px; left:270px;">
                        @Html.TextBox("txtPosta"," ", new {@class = "search-text", @style = "color:black" }) <br />
                    </div>
                    @Html.Label("Şifreniz")
                    <div id="search-area" style="position:absolute; top:363px; left:270px;">
                        
                         @Html.Password("pswSifre","", new {@class = "search-text", @style="color:black"})
                    </div>
                    <div id="search-button" style="position:absolute; top:400px; left:405px; width:67px;">
                        <input type="submit" class="search-button" value="Giriş Yap" />
                        </div>
                        <div id="divSonuc"></div>
                    </div>
            }
</body>
</html>