
@{
    ViewBag.Title = "UyelikBasarili";
}
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
        <link href="~/Content/css/Style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="page-header" style="height:340px;">
            <h2 style="font-family:'Times New Roman';">Başarıyla Üye Oldunuz</h2>

            <h4 style="font-family:'Times New Roman';font-style:italic; font-weight:bold; color:black;">Tebrikler, sitemize başarıyla üye oldunuz.</h4>
        </div>
    </body>
</html>